.success{
    text-align: center;
    margin-top: 60px;
    padding: 60px;
    background: #fff;
}
.success svg{
    height: 150px;
    width: 150px;
}
.success svg path{
    fill: #d6614033;
    stroke: #d66140;
    stroke-width: 10px;
    stroke-dasharray: 1700;
    animation: efectoSvg 2.5s 1;
}
.success h1{
    margin: 20px 0 3px;
    font-size: 25px;
}
.success p{
    font-size: 15px;
}
.success p span{
    color: #1872fa;
}
.success a{
    display: inline-block;
    color: #d66140;
    font-size: 16px;
    border: 1px solid #d66140;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 50px;
}
.success a:hover{
    box-shadow: 0 5px 10px #00000010;
}

@keyframes efectoSvg{
    0%{
        stroke-dashoffset: 1700;

    }
    100%{
        stroke-dashoffset: 0;
    }
}