
.contenedorProductos{
    max-width: 1023px;
    height: 430px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cargando{
    width: 60px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.cargando div{
    height: 10px;
    width: 10px;
    background: #aaa;
    border-radius: 50%;
    position: relative;
    top: 0;
}
.cargando div:nth-child(1){
    animation: cargando 1s infinite;
}
.cargando div:nth-child(2){
    animation: cargando 1s .1s infinite;
}
.cargando div:nth-child(3){
    animation: cargando 1s .2s infinite;
}

@keyframes cargando {
    0%{
        top: 0;
    }
    50%{
        top: -10px;
    }
    100%{
        top: 0px;
    }
}