.producto{
    width: 190px;
    min-width: 190px;
    height: auto;
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    transition: .2s;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #eee;
}

.imgProducto{
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgProducto img{
    height: 80%;
    max-width: 80%;
    object-fit: contain;
}

.infoProducto{
    border-top: 1px solid #eee;
    padding: 10px 20px;
    position: relative;
}
.infoProducto h2{
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}
.infoProducto h4{
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

.producto:hover{
    box-shadow: 0 10px 20px #00000020;
    z-index: 100;
}
