header{
    height: 100%;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 120px;
    padding: 10px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: .2s;
    box-shadow: 0 5px 10px #00000010;
}
.headerCenter{
    height: 100px;
    width: 100%;
    max-width: 1023px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
header:hover{
    height: 120px !important;
}

.logo h2{
    font-size: 20px;
    font-weight: 300;
}
.logo h2 span{
    color: #d66140;
    font-size: 22px;
}

.buscador input{
    border: none;
    outline: none;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 7px 10px;
    width: 500px;
}

.contenedorInfoUsuario{
    display: flex;
    align-items: center;
}
.carrito{
    margin-right: 10px;
    transform: rotateY(180deg);
    cursor: pointer;
    position: relative;
}
.iconoCarrito{
    font-size: 20px;
}
.iconoCarrito path{
    fill: none;
    stroke: #575758;
    stroke-width: 30px;
}
.cantidadCarrito{
    position: absolute;
    top: -7px;
    left: 13px;
    font-size: 9px;
    background: #d66140;
    color: #fff;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    text-align: center;
    line-height: 15px;
    transform: rotateY(180deg);
}
.usuario span{
    color: #aaa;
    font-size: 14px;
}
.usuario > div{
    position: relative;
    top: -5px;
    font-size: 14px;
}
.usuario a{
    margin: 0 3px;
}

nav{
    width: 100%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 0 10px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
}
nav ul li a:hover{
    color:#d66140;
}
